<h2>Maximum Security</h2>
<!-- [selectedIndex]="active" (selectedIndexChange)="onTabChange($event)" -->
<mat-tab-group animationDuration="1000ms" >
    <mat-tab style="background-color: navy;" label="Facturas">
        <div class="compras">
            <app-dialogmaximum #maximum></app-dialogmaximum>
        </div>
    </mat-tab>
    <!-- <mat-tab label="Compras Registradas">
        <app-dialogcomprasregistradas #comprasregistradas></app-dialogcomprasregistradas>
    </mat-tab> -->
</mat-tab-group>
