<div style="overflow-y: scroll;">
    <div style="transform: scale(0.90, 0.90); width: 98vw; height: 100vh; margin-left: -60px; overflow-y: scroll;">
        <iframe src="https://www.compraspublicas.gob.ec/ProcesoContratacion/compras/PC/buscarPACe.cpe?entidadPac=tm7yQRfk1ysRciB8ydtCkadr5P7ncuAkQQdaz5_ubC4,&anio=1pvuRMr22sTfWEYCvvrxa53yJLVcQsX4yycrSJbWnHE,&nombre=BeVLmS7cpezEwBWYrqF3Map9N6fm5tjylv2dG_K_J91Cr2htDRT_SHjlptdLvfm6" title="Sistema Oficial de Contratación Pública" style="width: 96vw; height: inherit;" allowfullscreen></iframe>
    </div>

</div>
