<div class="tituloFactura">
    <h2>Cuentas Contables</h2>
    <div class="cabeceraCompra">
        <div class="row">
            <div class="col">
                <span class="spanFactura"><b>Filtros: </b></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="text" id="nivel1" placeholder="Busca cuentas nivel 1" (keyup)="filtroNiveles($event, 'nivel1')">
                    <label for="nivel1" class="float">Cuentas nivel 1:</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" id="nivel2" type="text" placeholder="Buscar cuentas nivel 2" (keyup)="filtroNiveles($event, 'nivel2')">
                    <label for="nivel2" class="float">Cuentas nivel 2:</label>
                </div>
            </div>

            <div class="col">
                <div class="form-floating">
                    <input class="form-control" id="nivel3" type="text" placeholder="Buscar cuentas nivel 3" (keyup)="filtroNiveles($event, 'nivel3')">
                    <label for="nivel3" class="float">Cuentas nivel 3:</label>
                </div>
            </div>
        </div>
    </div>
</div>