<div class="tituloFactura">
    <h2>Factura</h2>
    <div class="cabeceraCompra">
        <div class="row">
            <div class="col-sm-3">
                <span class="spanFactura"><b>Tipo Comprobante: </b></span>

                <select class="form-select" [(ngModel)]="facturaMaximum.tipo_comprobante" [disabled]="showComprobante" (change)="comprobante()">
                    <option value="0">Tipo de Comprobante</option>
                    <option value="FACTURA">Factura</option>
                    <!-- <option value="NOTA DE VENTA">Nota de venta</option>
                    <option value="COMPROBANTE RETENCION">Retención</option> -->
                    <option value="NOTA CREDITO">Nota de crédito</option>
                </select>
            </div>
            <div class="col-sm-4">
                <span class="spanFactura"><b>Nº de Factura:</b></span>
                <input class="form-control" matInput type="text" [(ngModel)]="facturaMaximum.num_factura">
            </div>
            <div class="col">
                <span class="spanFactura"><b>Fecha: </b></span>
                <input type="date" class="form-control" id="floatingInputValue" [(ngModel)]="facturaMaximum.emision">
                <!-- <div class="form-floating">
                </div> -->
        
            </div>
            
            <!-- <div class="col-sm-3">
                <span class="spanFactura"><b>Buscar Proveedor: </b> <svg xmlns="http://www.w3.org/2000/svg"
                        (click)="cargarProveedor()" class="svCliente" enable-background="new 0 0 24 24" height="24px"
                        viewBox="0 0 24 24" width="24px" fill="#000000">
                        <g>
                            <rect fill="none" height="24" width="24" />
                        </g>
                        <g>
                            <g>
                                <path
                                    d="M10,12c2.21,0,4-1.79,4-4c0-2.21-1.79-4-4-4S6,5.79,6,8C6,10.21,7.79,12,10,12z M10,6c1.1,0,2,0.9,2,2c0,1.1-0.9,2-2,2 S8,9.1,8,8C8,6.9,8.9,6,10,6z" />
                                <path
                                    d="M4,18c0.22-0.72,3.31-2,6-2c0-0.7,0.13-1.37,0.35-1.99C7.62,13.91,2,15.27,2,18v2h9.54c-0.52-0.58-0.93-1.25-1.19-2H4z" />
                                <path
                                    d="M19.43,18.02C19.79,17.43,20,16.74,20,16c0-2.21-1.79-4-4-4s-4,1.79-4,4c0,2.21,1.79,4,4,4c0.74,0,1.43-0.22,2.02-0.57 c0.93,0.93,1.62,1.62,2.57,2.57L22,20.59C20.5,19.09,21.21,19.79,19.43,18.02z M16,18c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2 C18,17.1,17.1,18,16,18z" />
                            </g>
                        </g>
                    </svg></span>
                <input matInput type="text" class="form-control" placeholder="Proveedor"
                    [(ngModel)]="proveedor.razonsocial_prove" disabled>
            </div> -->
            <!-- <div class="col-sm-3">
                <span class="spanFactura"><b>RUC Proveedor: </b></span>
                <input matInput type="text" class="form-control" placeholder="RUC Proveedor"
                    [(ngModel)]="proveedor.ciruc_prove" disabled>
            </div>
            <div class="col-sm-3">
                <span class="spanFactura"><b>Dirección Proveedor: </b></span>
                <input matInput type="text" class="form-control" placeholder="Dirección Proveedor"
                    [(ngModel)]="proveedor.direccion_prove" disabled>
            </div> -->
        </div>
        <br>
        <div class="row">

            <!-- <div class="col-sm-2" style="display: block; margin: auto;">
                <span class="spanFactura"><b>Número Serie: </b></span>
                <input matInput type="text" class="form-control" placeholder="Número Serie"
                    [(ngModel)]="compra.serie_com">
            </div>

            <div class="col-sm-2" style="display: block; margin: auto;">
                <span class="spanFactura"><b>Secuencia: </b></span>
                <input matInput type="text" class="form-control" placeholder="Secuencia"
                    [(ngModel)]="compra.secuencia_com">
            </div>
            <div class="col-sm-2" style="display: block; margin: auto;">
                <span class="spanFactura"><b>Aut. Sri: </b></span>
                <input matInput type="text" class="form-control" placeholder="Aut. SRI"
                    [(ngModel)]="compra.autorizacionSRI_com">
            </div> -->
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <!-- <div class="col-sm-8">
                        <label><b>Cuentas: </b>
                        </label>
                        <select class="form-select" [(ngModel)]="facturaMaximum.tipo_cuentas">
                            <option value="0">Seleccione</option>
                            <option value="COSTO">Costo</option>
                            <option value="GASTO">Gasto</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label><b>Forma Pago: </b>
                        </label>
                        <br>
                        <select class="form-select" [(ngModel)]="facturaMaximum.forma_pago">
                            <option value="0">Seleccione</option>
                            <option value="EFECTIVO">Efectivo</option>
                            <option value="TARJETA">Tarjeta</option>
                        </select>

                    </div> -->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <!-- <div class="col">
                        <label><b>Tipo: </b>
                        </label>
                        <select class="form-select" [(ngModel)]="facturaMaximum.tipo">
                            <option value="0">Seleccione</option>
                            <option value="COSTO">Costo</option>
                            <option value="GASTO">Gasto</option>
                        </select>
                    </div> -->
                    <!-- <div class="col">
                        <label><b>Factura: </b>
                        </label>
                        <select class="form-select" [(ngModel)]="facturaMaximum.">
                            <option value="0">Seleccione</option>
                            <option *ngFor="let empresa of listaempresas">
                                {{ empresa.nombre_emp }}
                            </option>
                        </select>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="pagocompras">
                            <label><b>Cuentas: </b>
                            </label>
                            <select [(ngModel)]="compra.costogasto_com">
                                <option value="0">Seleccione</option>
                                <option value="COSTO">Costo</option>
                                <option value="GASTO">Gasto</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="pagocompras">
                            <label><b>Forma Pago: </b>
                            </label>
                            <br>
                            <select [(ngModel)]="compra.formapago_com">
                                <option value="0">Seleccione</option>
                                <option value="EFECTIVO">Efectivo</option>
                                <option value="TARJETA">Tarjeta</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="pagocompras">
                            <label><b>Tipo: </b>
                            </label>
                            <select [(ngModel)]="compra.costogasto_com">
                                <option value="0">Seleccione</option>
                                <option value="COSTO">Costo</option>
                                <option value="GASTO">Gasto</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">

                <div class="pagocompras">
                    <label><b>Factura: </b>
                    </label>
                    <br>
                    <select>
                        <option value="0">Seleccione</option>
                        <option *ngFor="let empresa of listaempresas">
                            {{ empresa.nombre_emp }}
                        </option>
                    </select>
                </div>

            </div>
            <div class="col-sm-4" style="display: block; margin: auto;">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4" style="display: block; margin: auto;">

                    </div>
                    <div class="col-sm-4" style="display: block; margin: auto;">

                    </div>
                </div>
            </div> -->
        <!-- </div> -->

    </div>
</div>
<br>

<div class="tituloFactura">

    <div class="itemscompras">
        <div class="row">
            <div class="col-sm-6">
                <!-- <div class="botonesVentas">
                    *ngIf="showbtnFactura"
                    <button class="btn" style="margin: 10px 10px;" (click)="items()">Añadir
                        Concepto<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                            fill="#FFFFFF">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path
                                d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                        </svg></button>
                </div> -->
                <!-- <div class="botonesVentas">
                    <button class="btn" *ngIf="showbtnNota" style="margin: 10px 10px;" (click)="itemsNotaventa()">Añadir
                        Concepto<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                            fill="#FFFFFF">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path
                                d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                        </svg></button>
                </div> -->
                <!-- <div class="botonesVentas">
                    <button class="btn" style="margin: 10px 10px;" (click)="generarRetencion()">Generar Retención<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                            fill="#FFFFFF">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path
                                d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                        </svg></button>
                </div> -->
            </div>

            <!-- <div class="col-sm-6">
                <div class="botonesVentas">
                    *ngIf="showBorrarItems"
                    (click)="borrarItems()"
                        <button  class="btn btncancelar" style="margin: 10px 10px;">Borrar Items</button>
                </div>
            </div> -->
        </div>

        <div class="row mb-3">
            <div class="col">
                <app-dialogcreditmaximum (botonLibroE)="activarBotonLibro($event)" (num_factura)="n_factura($event)"  (refrescar)="refrescarTabla($event)" [fecha_emision_padre]="facturaMaximum.emision" [tipo_comprobante_padre]="facturaMaximum.tipo_comprobante" [num_factura_padre]="facturaMaximum.num_factura"></app-dialogcreditmaximum>
            </div>
        </div>
    
        

        <!-- <div class="mat-elevation-z8"> -->

            <table class="table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Código</th>
                        <th>Cuenta</th>
                        <th>Detalle</th>
                        <th>Parcial</th>
                        <th>Debe</th>
                        <th>Haber</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of (mostrarLibro | recibirData)">
                    <!-- <legend>{{ item.cuenta_num }}</legend> -->
                    
                    <tr style="text-align: center;">
                        <th colspan="8">{{ item.cuenta }}</th>
                    </tr>

                    <tr>
                        
                    </tr>
                    <tr *ngFor="let cuentas of (item.data | cuentas)">
                        <th [rowspan]="item.data.length">
                            {{ item.fecha }}
                        </th>
                            <th> 
                                {{cuentas.tipo_cuenta['1']}} 
                            </th>
                            <th>{{ cuentas.tipo_cuenta['2'] }}</th>
    
                            <th>{{ cuentas.detalle }}</th>

                            <th >
                                <span *ngIf="cuentas.debe_haber === 'Parcial'">
                                    {{ cuentas.monto }}
                                </span>
                            </th>
                            <th>

                                <span *ngIf="cuentas.debe_haber === 'Debe'">
                                    {{ cuentas.monto }}
                                </span>

                            </th>

                            <th>
                                <span *ngIf="cuentas.debe_haber == 'Haber'">
                                    {{ cuentas.monto }}
                                </span>
                            </th>
                            <!-- <th >
                                <div *ngIf="cuentas.debe_haber == 'Haber">

                                    {{ cuentas.monto }}
                                </div>
                            </th> -->
                        
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>{{ sumaDebe | number: '1.1-2': 'fr' }}</th>
                        <th>{{ sumaHaber | number: '1.1-3': 'fr' }}</th>
                    </tr>
                </tfoot>
            </table>

            <div *ngIf="mostrarBotonRegistrar" class="d-grid gap-2 d-md-flex justify-content-md-center mb-2">
                <button class="btn btngrabar">Registrar libro</button>
            </div>
            <!-- <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element">{{element.fecha_emision}}</td>
                </ng-container>

                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Código </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{ element.cuenta_libro }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="cuenta">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Cuenta</th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{ element.descripcion }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="detalle">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Detalle </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{ element.detalle }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="parcial">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Parcial </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{ element.parcial |
                        number:'1.2-2':'fr' }} $
                    </td>
                </ng-container>


                <ng-container matColumnDef="debe">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Debe </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> 
                        <div *ngIf="element.asiento === '1'">
                            {{ element.valor |
                                number:'1.2-2':'fr' }} $
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="haber">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Haber </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;" > 
                        <div *ngIf="element.asiento === '2'">
                            {{ element.valor |
                                number:'1.2-2':'fr' }} $
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Eliminar</th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <button mat-icon-button (click)="deleteItem(element)">
                            <mat-icon color="warn">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table> -->
        <!-- </div> -->

        
        <!-- <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <br>
                        <div class="camposcompras">
                            <label>Subtotal 12%</label><input style="text-align: right;" type="number"
                                [(ngModel)]="facturaMaximum.subtotal_12" disabled>
                        </div>
                        <div class="camposcompras">
                            <label>Subtotal 0%</label><input style="text-align: right;" type="number"
                                [(ngModel)]="facturaMaximum.subtotal_0" disabled>
                        </div>
                        <div class="camposcompras">
                            <label>IVA 12%</label><input style="text-align: right;" type="number" [(ngModel)]="facturaMaximum.iva_12"
                                disabled>
                        </div>
                        <div class="camposcompras">
                            <label>ICE</label><input style="text-align: right;" type="number" [(ngModel)]="facturaMaximum.ice">
                        </div>
                        <div class="camposcompras">
                            <label>Propina</label><input style="text-align: right;" type="number" [(ngModel)]="facturaMaximum.propina">
                        </div>
                        <div class="camposcompras">
                            <label>Total</label><input style="text-align: right;" type="number"
                                [(ngModel)]="facturaMaximum.total" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
        <!-- <div class="row">
            <div class="col-sm-12">
                <button class="btn btncancelar">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="#FFFFFF">
                        <path d="M0 0h24v24H0V0z" fill="none" opacity=".87" />
                        <path
                            d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm3.59-13L12 10.59 8.41 7 7 8.41 10.59 12 7 15.59 8.41 17 12 13.41 15.59 17 17 15.59 13.41 12 17 8.41z" />
                    </svg>
                    Cancelar </button>

                <button class="btn btngrabar"> <svg xmlns="http://www.w3.org/2000/svg"
                        height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                            d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm2 16H5V5h11.17L19 7.83V19zm-7-7c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3zM6 6h9v4H6z" />
                    </svg> Registrar Comprobante </button>
            </div>
        </div> -->
    </div>
</div>
