<h2>Cargar asiento</h2>
<div class="row mb-3">
    <div class="col">
        <button class="btn btn-primary" (click)="agregarMovimiento()">agregar movimiento
        </button>
    </div>
    <!-- <div class="row mb-2"> -->
        <div class="col">
            <select class="form-select" [(ngModel)]="movimiento.cuenta">
                <option selected disabled>Seleccionee...</option>
                <option *ngFor="let principales of mostrarOpcionesPrincipales" [value]="principales.nro_asiento">{{ principales.nro_asiento }}</option>
            </select>
        </div>
    
        <div class="col">
            <button class="btn btn-primary" (click)="cambioCuentaPrincipal()">agregar cuenta</button>
        </div>
        <div class="col">
            <button class="btn btn-primary" (click)="cargarCuentasPrincipales()">Cargar cuentas</button>
        </div>
        
    <!-- </div> -->
</div>
<ng-container *ngFor="let cuentas of cuentasItems; let i = index">
    
    <div class="row mb-2">
        <div class="col">
            <input type="text" placeholder="Monto" class="form-control" [(ngModel)]="cuentasItems[i].monto">
        </div>
        <div class="col">
            <select  class="form-select" [(ngModel)]="cuentasItems[i].tipo_cuenta">
                <option value="#">Seleccione...</option>
                <option *ngFor="let cuentas of cuentas_tipo" [value]="[cuentas.id_cuentas, cuentas.numero, cuentas.descripcion]">{{cuentas.numero}} {{ cuentas.descripcion }}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-check" *ngFor="let t of tipos">
                <input class="form-check-input" type="radio" [value]="t" [name]="t + i" [(ngModel)]="cuentasItems[i].debe_haber" [attr.name]="t + i" [id]="t + i">
                <label class="form-check-label" [for]="t + i">
                  {{ t }} {{ t + i }}
                </label>
              </div>
        </div>
        <div class="col">
            <input placeholder="Detalle" class="form-control" type="text" [(ngModel)]="cuentasItems[i].detalle">
        </div>
    </div>
    
</ng-container>
<div class="row" *ngIf="cuentasItems.length !==0">
    <div class="col">
        <button class="btn btn-success" (click)="enviar()">Guardar</button>
    </div>
</div>

<!-- <div class="row">
    <div class="col-sm-2 ocultar">
        <div class="form-floating">
            <input type="hidden" class="form-control" id="floatingInputValue" [(ngModel)]="formularioLibro.cuenta_libro">
            
        </div>

    </div>
    <div class="col-sm-4">

        <div class="form-floating">
            <select class="form-select" id="floatingInputValue" [(ngModel)]="formularioLibro.cuenta_libro">
                <option *ngFor="let cuenta of cuentasItems" [value]="cuenta.numero">{{ cuenta.numero }} {{ cuenta.descripcion }}
                </option>
                
            </select>
            <label for="floatingInputValue">Cuenta</label>
        </div>
    </div>
    <div class="col">

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputValue" [(ngModel)]="formularioLibro.detalle">
            <label for="floatingInputValue">Detalle</label>
        </div>
    </div>
    <div class="col">

        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <select class="form-select" id="floatingInputValue" [(ngModel)]="formularioLibro.cuenta_num">
                        <option *ngFor="let opt of mostrarOpcionesPrincipales" [value]="opt">{{opt}}</option>
                    </select>
                    <label for="floatingInputValue">Cuenta principal</label>
                    
                </div>
            </div>
            <div class="col">
                <button title="crear Cuenta principal" (click)="cambioCuentaPrincipal()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>

</div>

<div class="row mt-2 mb-2">
    <div class="col">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputValue" [(ngModel)]="formularioLibro.parcial">
            <label for="floatingInputValue">Parcial</label>
        </div>

    </div>
    <div class="col">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputValue" [(ngModel)]="formularioLibro.valor">
            <label for="floatingInputValue">Valor</label>
        </div>

    </div>

    <div class="col">
        <div class="form-floating">
            <select class="form-select" id="floatingInputValue" [(ngModel)]="formularioLibro.debe_haber">
                <option value="1">Debe</option>
                <option value="2">Haber</option>
            </select>
            <label for="floatingInputValue">Asiento</label>
        </div>

    </div>

    <div class="col">
        <div class="row">
            <div class="col">

                <button class="btn" mat-icon-button title="Guardar informacion" (click)="addItem()" class="btnasignar">
                    <mat-icon color="primary">save</mat-icon>
                </button>
            </div>
            <div class="col">
                <button class="btn" mat-icon-button title="limpiar informacion" class="btnasignar">
                    <mat-icon color="danger">clear</mat-icon>
                </button>


            </div>
        </div>

    </div>
</div> -->