<h2>Cargar asiento</h2>


<div class="row mb-3">

    <!-- <div class="row mb-2"> -->
    <!-- <div class="col d-grid gap-2 d-md-flex justify-content-md-end mb-2">
        <button class="btn btn-primary" (click)="cargarCuentasPrincipales()">Cargar secciones</button>
    </div> -->
    <div class="col">
        <span class="spanFactura"><b>Sección:</b></span>
        <select class="form-select" (change)="traerFactura($event)" [(ngModel)]="movimiento.cuenta">
            <option selected disabled value="#">Seleccione una sección...</option>
            <option *ngFor="let principales of mostrarOpcionesPrincipales" [value]="principales.nro_asiento">{{
                principales.nro_asiento }}</option>
        </select>
    </div>

    <div class="col">
        <br>
        <button class="btn btn-primary" (click)="cambioCuentaPrincipal()">Agregar sección</button>
    </div>


    <div class="col d-grid gap-2 d-md-flex justify-content-md-end mb-2">
        <br>
        <button class="btn btngrabar" (click)="agregarMovimiento()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"
                class="me-1">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path
                    d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
            </svg>Agregar movimiento
        </button>
    
    </div>
    <!-- </div> -->
</div>
<div class="container">

    <ng-container *ngFor="let cuentas of cuentasItems; let i = index">
        <ng-container class="row"  *ngIf="cuentasItems.length !==0">
            <div class="row d-grid gap-2 d-md-flex justify-content-md-start mb-2">

                <button class="btn btncancelar" (click)="eliminar(i)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
                    </svg>
                    
                </button>
            </div>
            
        </ng-container>

        <div class="row mb-2">
            <div class="col-sm-1 d-grid gap-2 d-md-flex justify-content-md-start mt-4" style="justify-content: start;">
                <span class="spanFactura"></span>
                <button class="btn btngrabar" style="height: 35px;" (click)="agregarCuenta()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 2 24 24" width="24px" fill="#FFFFFF"
                        class="me-1">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                            d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                    </svg>
                </button>
            </div>
            
            <div class="col-sm-7">
                <span class="spanFactura"><b>Seleccione una cuenta:</b> </span>
                <select class="form-select" [(ngModel)]="cuentasItems[i].tipo_cuenta">
                    <option value="#" selected disabled>Seleccione una cuenta...</option>
                    <option *ngFor="let cuentas of cuentas_tipo"
                        [value]="[cuentas.id_cuentas, cuentas.numero, cuentas.descripcion]">{{cuentas.numero}} {{
                        cuentas.descripcion }}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <span class="spanFactura"><b>Monto:</b> </span>
                <input type="text" placeholder="Monto" class="form-control" [(ngModel)]="cuentasItems[i].monto">
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center;">
                <!-- <div class=""> -->
                <div class="row">
                    <span class="spanFactura"><b>Cuenta:</b> </span>
                </div>
                <div class="form-check form-check-inline" *ngFor="let t of tipos">
                    <input class="form-check-input" type="radio" [value]="t" [name]="t + i"
                        [(ngModel)]="cuentasItems[i].debe_haber" [attr.name]="t + i" [id]="t + i">
                    <label class="form-check-label" [for]="t + i">
                        {{ t }}
                    </label>
                </div>
                <!-- </div> -->
            </div>
            <div class="col">
                <span class="spanFactura"><b>Detalle:</b> </span>
                <input placeholder="Detalle" class="form-control" type="text" [(ngModel)]="cuentasItems[i].detalle">
            </div>
            <div class="col">
                <span class="spanFactura"><b>% IVA: </b></span>
                <select placeholder="Iva" class="form-select" [(ngModel)]="cuentasItems[i].iva">
                    <option selected disabled value="#">IVA %</option>
                    <option value="iva12">IVA 12%</option>
                    <option value="iva0">IVA 0%</option>
                </select>
                
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-sm-5">
                
            </div>
        </div>

    </ng-container>
</div>
<div class="row d-grid gap-2 d-md-flex justify-content-md-center mb-2 mt-2" *ngIf="cuentasItems.length !==0">
    <button class="btn btngrabar" (click)="enviar()">Guardar</button>
</div>

<!-- <div class="row">
    <div class="col-sm-2 ocultar">
        <div class="form-floating">
            <input type="hidden" class="form-control" id="floatingInputValue" [(ngModel)]="formularioLibro.cuenta_libro">
            
        </div>

    </div>
    <div class="col-sm-4">

        <div class="form-floating">
            <select class="form-select" id="floatingInputValue" [(ngModel)]="formularioLibro.cuenta_libro">
                <option *ngFor="let cuenta of cuentasItems" [value]="cuenta.numero">{{ cuenta.numero }} {{ cuenta.descripcion }}
                </option>
                
            </select>
            <label for="floatingInputValue">Cuenta</label>
        </div>
    </div>
    <div class="col">

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputValue" [(ngModel)]="formularioLibro.detalle">
            <label for="floatingInputValue">Detalle</label>
        </div>
    </div>
    <div class="col">

        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <select class="form-select" id="floatingInputValue" [(ngModel)]="formularioLibro.cuenta_num">
                        <option *ngFor="let opt of mostrarOpcionesPrincipales" [value]="opt">{{opt}}</option>
                    </select>
                    <label for="floatingInputValue">Cuenta principal</label>
                    
                </div>
            </div>
            <div class="col">
                <button title="crear Cuenta principal" (click)="cambioCuentaPrincipal()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>

</div>

<div class="row mt-2 mb-2">
    <div class="col">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputValue" [(ngModel)]="formularioLibro.parcial">
            <label for="floatingInputValue">Parcial</label>
        </div>

    </div>
    <div class="col">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputValue" [(ngModel)]="formularioLibro.valor">
            <label for="floatingInputValue">Valor</label>
        </div>

    </div>

    <div class="col">
        <div class="form-floating">
            <select class="form-select" id="floatingInputValue" [(ngModel)]="formularioLibro.debe_haber">
                <option value="1">Debe</option>
                <option value="2">Haber</option>
            </select>
            <label for="floatingInputValue">Asiento</label>
        </div>

    </div>

    <div class="col">
        <div class="row">
            <div class="col">

                <button class="btn" mat-icon-button title="Guardar informacion" (click)="addItem()" class="btnasignar">
                    <mat-icon color="primary">save</mat-icon>
                </button>
            </div>
            <div class="col">
                <button class="btn" mat-icon-button title="limpiar informacion" class="btnasignar">
                    <mat-icon color="danger">clear</mat-icon>
                </button>


            </div>
        </div>

    </div>
</div> -->