<!-- <table>
  <thead>
    <tr>
      <th>Check</th>
      <th>Detalle</th >
      <th>Fecha Inicio</th >
      <th>Dias</th>
      <th>Img</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mostrarItems; let i = index;">
      <td>
        <input type="checkbox" (change)="cambioValor($event)" [(ngModel)]="mostrarItems[i].check" class="form-check">
      </td>
      <td>{{ item.desc }}</td>
    </tr>
  </tbody>
</table>

<button class="btn" *ngIf="mostrarItems.length > 0" (click)="mostrarData()">Agregar Fecha y dias</button> -->

<p>prueba
  <input type="file" name="myfile" id="myfile" style="display: block;">

</p>